.root {
    --main-blue: #3a6cf4;
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 999;
    margin-right: 100px;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: #3a6cf4;
    font-weight: 500;
    font-size: 1.1em;
    padding-right: 30px;
}

.navigation a:hover {
    color: #601cfc;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    background: url(images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: #f0f0f0;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: blue;
    font-size: 3em;
    font-weight: 500;
}
.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}